.hero {
    width: 100%;
    height: 400px;
    background: yellow;
}

.aboutReapers {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 400px;
    background: black;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.82);
}

.line {background: black; width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;}
.lineee {width: 95%; height: 5px; background: white; border-radius: 100px;}

.roles {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: auto;
    background: black;
    padding-bottom: 200px;
}

/*IMG*/
.captainOneImg, .captainTwoImg,.engineerOneImg, .engineerTwoImg, .engineerThreeImg, .programmerOneImg, .programmerTwoImg, .programmerThreeImg, .outreachOneImg, .outreachTwoImg, .outreachThreeImg, .mediaOneImg, .mediaTwoImg, .mediaThreeImg, .portOneImg, .portTwoImg, .portThreeImg
{width: 100%; height: 100%; background-position: center; background-size: cover;}

/*CAPTAINS*/
.captains, .engineers, .programmers, .socialMedia, .portfolios {width: 100%;}
.rolesTitle, .rolesTx, .rolesTx1 { color: rgba(255, 255, 255, 0.82); text-align: center} .rolesTitle {text-align: start} .rolesTitle h1 {margin-top: -5px; font-size: 40px;}
.rolesTx {margin-top: 10px;} .rolesTx1 {font-size: 14px;} .rolesTx2 {color: white; font-size: 20px; margin-top: -5px;}

.captains {display: flex; flex-direction: column; align-items: center;}
.captainOne, .captainTwo {margin-top: 20px; width: 700px; height: 400px;} .captainTwo {margin-top: 100px; margin-right: -10%;} .captainOne {margin-left: -10%;}
#captain1 {margin-left: -25%;} #captain2 {margin-left: 40%;}
#rolesTitleCaptains {margin-left: -47%;}

/*ENGINEERS*/
#rolesTitleEngineers {position: absolute; left: 48%; }
.engineers {display: flex; justify-content: center; margin-top: 200px;}
.engineerOne, .engineerTwo, .engineerThree {width: 200px; height: 600px; margin: 0 15px;}
.engineerTwo {margin-top: 120px;} .engineerThree {margin-top: 240px;}

/*PROGRAMMERS*/
.programmers {display: flex; flex-direction: column; align-items: center; margin-top: 150px;}
.programmerOne, .programmerTwo, .programmerThree {width: 700px; height: 400px; margin-top: 20px;}
.programmerTwo, .programmerThree {margin-top: 80px;}
.programmerOne {margin-left: -10%;} .programmerThree {margin-right: -20%;}

/*OUTREACH*/
.outreach {display: flex; flex-direction: column; align-items: center; margin-top: 150px;}
.outreaches {display: flex; justify-content: center; margin-top: 20px;}
.outreach1, .outreach2, .outreach3 {text-align: center; width: 200px; height: 250px; margin: 0 20px;}

/*SOCIAL MEDIA*/
.socialMedia {display: flex; flex-direction: column; align-items: center; margin-top: 150px;}
.media1, .media2, .media3 {width: 200px; height: 300px; text-align: center; margin-top: 30px;}
.media1, .media3 {margin-right: -240px;} .media2 { margin-left: -230px; margin-top: -100px;} .media3 {margin-top: -100px;}

/*PORTFOLIO*/
.portfolios {display: flex; flex-direction: column; align-items: center; margin-top: 150px;}
.port1, .port2, .port3 {width: 200px; height: 300px; text-align: center; margin-top: 30px;}
.port1, .port3 {margin-left: -230px;} .port2 {margin-right: -240px; margin-top: -100px;} .port3 {margin-top: -100px;}


@media screen and (max-width: 900px) {
    #rolesTitleCaptains {margin-right: -1%;} .captainOne, .captainTwo {width: 400px; height: 250px;} .captainTwo {margin-top: 80px;}
    #rolesTitleEngineers {left: 40%;} .engineerOne, .engineerTwo, .engineerThree {width: 150px; height: 400px; margin: 0 15px;} .engineerTwo {margin-top: 120px;} .engineerThree {margin-top: 240px;}
    .programmerOne, .programmerTwo, .programmerThree {width: 400px; height: 250px;}
    .outreach1, .outreach2, .outreach3 {text-align: center; width: 150px; height: 200px;}
    .media1, .media2, .media3 {width: 150px; height: 250px;} .media1, .media3 {margin-right: -180px;} .media2 { margin-left: -180px;} .media3 {margin-top: -70px;}
    .port1, .port2, .port3 {width: 150px; height: 250px;} .port1, .port3 {margin-left: -180px;} .port2 {margin-right: -180px;} .port3 {margin-top: -70px;}

}

@media screen and (max-width: 600px) {
    .aboutReapers {font-size: 14px;}
    .engineers, .programmers, .socialMedia, .portfolios {margin-top: 120px;}
    .rolesTx, #captain1, #captain2 {margin: 0;} #rolesTitleEngineers {position: absolute; left: 18%;}
    #rolesTitleCaptains {margin: 0;} .captainOne, .captainTwo {width: 80%; margin: 0;} .captainTwo {margin-top: 80px;}
    .engineerTwo {margin-top: 0;} .engineerThree {margin-top: 0;} .engineerOne, .engineerTwo, .engineerThree {width: 150px; height: 250px; margin-top: 100px; margin-left: 10px; margin-right: 10px;}
    .programmerOne, .programmerTwo, .programmerThree {width: 80%; margin: 0; margin-top: 10px;} .programmerTwo, .programmerThree {margin-top: 80px;}
    .outreach1, .outreach2, .outreach3 {margin: 0 5px; width: 150px; height: 150px;}
}

@media screen and (max-width: 500px) {
    .rolesTitle h1 {font-size: 25px;} #rolesTitleEngineers {left: auto; right: auto;}
    .rolesTx1 {margin-top: 10px; font-size: 10px;} .rolesTx2 {font-size: 15px;}
    .captainOne, .captainTwo, .programmerOne, .programmerTwo, .programmerThree {height: 200px;}
    .outreach1, .outreach2, .outreach3 {margin: 0 8px; width: 100px; height: 150px;}
    .engineerOne, .engineerTwo, .engineerThree {width: 100px; height: 150px; margin-left: 10px; margin-right: 10px;}
}

@media screen and (max-width: 400px) {
    .aboutReapers {font-size: 13px;}
}