.hero {
    width: 100%;
    height: 400px;
    background: yellow;
}

.hero h1 {
    position: absolute; top: 250px; left: 0; right: 0;
    text-align: center;
    margin: auto;

    font-size: 115px;
    letter-spacing: 10px;
    font-family: "Trend Slab W00 Five";
}

.aboutReapers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 100%;
    height: 40vh;
    background: black;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.82);
}

.line {background: black; width: 100%; height: 50px; display: flex; justify-content: center; align-items: center;}
.lineee {width: 95%; height: 5px; background: white; border-radius: 100px;}

.roles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background: black;
    padding-bottom: 200px;
}

/*CAPTAINS*/
.captains {margin-top: 100px;width: 720px;height: auto;}
.rolesTitle {margin-left: 50px; text-transform: uppercase;}
.rolesTitle p {color: rgba(255, 255, 255, 0.82);}
.rolesTitle h1 {color: white; letter-spacing: 2px; margin-top: -5px;}

.captainOneImg, .captainTwoImg {
    margin-top: 10px;
    width: 70%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.captainTwoImg {margin-left: 215px; margin-top: 25px;}
.rolesTx {width: 100%; height: 100%; text-align: center;}
.rolesTx1 {text-transform: uppercase; color: rgba(255, 255, 255, 0.82); font-size: 14px; font-weight: 400}
.rolesTx2 {text-transform: uppercase; color: white; font-size: 20px; font-weight: bold; margin-top: -5px;}
#captain1 {margin-left: -150px; margin-top: 5px;}
#captain2 {margin-left: 200px; margin-top: 5px;}

/*ENGINEERS*/
.engineers {width: 720px; display: flex; justify-content: space-evenly; margin-top: 230px;}
.engineerOne, .engineerTwo, .engineerThree {width: 100%; height: 500px; margin: 20px;}
.engineerOneImg, .engineerTwoImg, .engineerThreeImg {width: 100%; height: 100%; background-size: cover; background-position: center;}
.engineerTwo {margin-top: 120px;}
.engineerThree {margin-top: 320px;}
#engineer1, #engineer2, #engineer3 {margin-top: 5px;}
#rolesTitleEngineers {position: absolute; margin-top: 15px; margin-right: -250px;}

/*OUTREACHES*/
#rolesTitleOutreach {margin-left: 245px;}
.outreach {width: 720px; height: 350px; margin-top: 230px;}
.outreaches {width: 100%; height: 100%; display: flex; margin-top: 20px;}
.outreach1, .outreach2, .outreach3 {width: 300px; height: 60%; margin: 10px;}
.outreachOneImg, .outreachTwoImg, .outreachThreeImg {width: 100%; height: 100%; background-size: cover; background-position: center;}
.rolesTx1 {margin-top: 5px;}

/*SOCIAL MEDIA*/
.socialMedia {margin-top: 230px; text-align: center}
.media1, .media2, .media3 {width: 200px; height: 250px; margin-top: 50px;}
.media1 {margin-left: 300px;}
.media2 {margin-top: -100px; margin-left: 50px;}
.media3 {margin-left: 320px; margin-top: -50px;}
.mediaOneImg, .mediaTwoImg, .mediaThreeImg {width: 100%; height: 100%; background-size: cover; background-position: center;}

/*PORTFOLIOS*/
.portfolios {margin-top: 230px; text-align: center}
.port1, .port2, .port3 {width: 200px; height: 250px; background: yellow; margin-top: 50px;}
.port2 {margin-left: 270px; margin-top: -150px;}
.port3 {margin-top: -20px;}
.portOneImg, .portTwoImg, .portThreeImg {width: 100%; height: 100%; background-size: cover; background-position: center;}

/***** SCREEN FRIENDLY *****/
@media (max-width: 1300px) {.hero h1 {font-size: 120px;}}
@media (max-width: 1000px) {.hero h1 {font-size: 95px;} .aboutReapers {font-size: 14px;}}
@media (max-width: 800px) {.hero h1 {font-size: 75px; top: 300px} }