html {background: black;}
.hero {
    width: 100%;
    height: 400px;
    background: yellow;
}

.awards {width: 100%; height: auto; background: black; margin-top: 50px; display: flex; flex-direction: column; align-items: center; padding-bottom: 200px;}

.champs, .inspire, .design, .mentorship, .workshops {width: 90%; height: 400px; margin-top: 50px;}
.inspire, .design, .mentorship, .workshops {margin-top: 150px;}
.awardsContent, .designAwardContent {display: flex; width: 100%; height: 100%; align-items: center; justify-content: space-between;} .awardsContentTx {color: rgba(255, 255, 255, 0.82);}
.designAwardImg {width: 100%; height: 100%; background-position: center; background-size: cover;} .awardsContentImg {width: 40%; height: 100%; background-position: center; background-size: cover;} .awardsContentTx {width: 55%; font-size: 25px;}

.title1 {color: rgba(255, 255, 255, 0.82);}  .title2{color: white; font-size: 25px; margin-top: -5px;}
#inspireAwardTitle, #workshopsTitle {text-align: end}

@media screen and (max-width: 1000px) {
    .awardsContentTx {font-size: 20px;}
}

@media screen and (max-width: 700px) {
    .champs, .inspire, .design, .mentorship, .workshops {height: 250px; margin-top: 0;}
    .inspire, .design, .mentorship, .workshops {margin-top: 100px;}
    .awardsContentTx {font-size: 15px;}
}

@media screen and (max-width: 600px) {
    .champs, .inspire, .design, .mentorship, .workshops {width: 95%;}
    .inspire, .design, .workshops {margin-top: 300px;}
    .awardsContent {flex-direction: column; height: auto;}
    .awardsContentImg {width: 100%; height: 250px;}
    .awardsContentTx {width: 100%; text-align: center; margin-top: 10px;}

    #inspireImg, #workshopImg {position: absolute;} #inspireContent, #workshopContent {margin-top: 265px;}
    #workshopsTitle {text-align: start;} #mentorshipTitle {text-align: end;}
}

@media screen and (max-width: 400px) {
    .inspire, .design, .workshops {margin-top: 350px;}
}

.outreachActivities {display: flex; width: 100%; height: auto; justify-content: space-evenly; align-items: center; padding: 50px 0;}
.outreachActivitiesWords {width: 40%; color: white; font-size: 30px;} .outreachActivitiesWords p {font-size: 20px; color: rgba(255, 255, 255, 0.82); margin-top: 20px;} .outreachActivitiesWords h1 {line-height: 55px}
.outreachActivitiesBoxes {width: 50%; display: grid; grid-template-columns: 50% 50%; grid-gap: 10px;}
.outreachActivitiesBoxesInfo {display: flex; flex-direction: column; width: 100%; height: 250px; padding: 20px; border-radius: 10px; justify-content: space-evenly;}
.outreachActivitiesBoxesInfo h1 {font-size: 20px; color: white;} .outreachActivitiesBoxesInfo p {color: rgba(255, 255, 255, 0.82);}

@media screen and (max-width: 1000px) {
    .outreachActivities {flex-direction: column;} .outreachActivitiesWords {width: 90%; text-align: center;}
    .outreachActivitiesBoxes {margin-top: 30px; width: 100%; grid-template-columns: repeat(auto-fit, minmax(20%, 23%)); justify-content: center;}
    .outreachActivitiesBoxesInfo h1 {font-size: 18px;} .outreachActivitiesBoxesInfo p {font-size: 14px;}
}

@media screen and (max-width: 900px) {
    .outreachActivitiesBoxesInfo {height: 200px;}
    .outreachActivitiesBoxesInfo h1 {font-size: 15px;} .outreachActivitiesBoxesInfo p {font-size: 12px;}
}

@media screen and (max-width: 800px) {
    .outreachActivitiesBoxes {grid-template-columns: 44% 44%;}
    .outreachActivitiesBoxesInfo h1 {font-size: 18px;} .outreachActivitiesBoxesInfo p {font-size: 14px;}
}

@media screen and (max-width: 500px) {
    .outreachActivities {margin-top: 120px;}
    .outreachActivitiesBoxesInfo {padding: 15px;}
    .outreachActivitiesBoxesInfo h1 {font-size: 15px;} .outreachActivitiesBoxesInfo p {font-size: 12px;}
}

@media screen and (max-width: 400px) {
    .outreachActivitiesBoxes {grid-template-columns: 85%;}
    .outreachActivitiesBoxesInfo h1 {font-size: 18px;} .outreachActivitiesBoxesInfo p {font-size: 15px;}
}

.outreachSignUps {width: 100%; height: 500px;}
.outreachSignUpsImg {margin-top: 100px; width: 100%; height: 100%; background-position: center; background-size: cover;}
.signUpBtn {border: 3px solid white; padding: 10px 30px; color: white; font-weight: 400; position: absolute; margin-left: 50px; margin-top: 380px; font-size: 12px; transition: 0.3s; border-radius: 15px;}
.signUpBtn:hover {scale: 0.98}

@media screen and (max-width: 800px) {
    .outreachSignUps {height: 300px;}
    .outreachSignUpsImg {height: 300px; display: flex; justify-content: center; align-items: center;} .signUpBtn {margin-top: 120px; margin-left: 0;}
}

.seasonDecode {display: flex; align-items: center; justify-content: center; width: 100%; height: auto; margin-top: 50px; padding: 50px 0;}
.seasonDecode h1 {margin: auto; color: white; font-size: 60px; font-family: "Trend Slab W00 Five";} .seasonDecode p {color: rgba(255, 255, 255, 0.82); font-size: 20px;}