html {background: black;}
.hero {
    width: 100%;
    height: 400px;
    background: yellow;
}

.hero h1 {
    position: absolute; top: 250px; left: 0; right: 0;
    text-align: center;
    margin: auto;

    font-size: 115px;
    letter-spacing: 10px;
    font-family: "Trend Slab W00 Five";
}

.line {background: black; width: 100%; height: 50px; display: flex; justify-content: center; align-items: center; padding-top: 100px;}
.lineee {width: 95%; height: 5px; background: white; border-radius: 100px;}

.awards {display: flex; flex-direction: column; align-items: center; width: 100%; height: auto;  background: black;}

.champs, .inspire, .mentorship, .workshops {margin-top: 100px; width: 70%; height: 500px;}

.title1 {text-transform: uppercase; color: rgba(255, 255, 255, 0.82); font-size: 20px; font-weight: 400}
.title2 {width: auto; text-transform: uppercase; color: white; font-size: 30px; font-weight: bold; margin-top: -5px; letter-spacing: 2px; align-items: center}

.awardsContent {width: 100%; height: 100%; display: flex; justify-content: space-between;}
.awardsContentImg {margin-top: 25px; width: 40%; height: 400px; background-position: center; background-size: cover;}
.awardsContentTx {margin-top: 25px; width: 50%; height: 100%; color: rgba(255, 255, 255, 0.82); text-transform: uppercase;}

#inspireAwardTitle, #workshopsTitle {margin-left: 60%;}

#designAwardTitle {width: 100%; margin-top: 150px; margin-bottom: 25px; text-align: center;}
.designAwardContent {width: 1200px; height: 500px;}
.designAwardImg {width: 100%; height: 100%; background-position: center; background-size: cover;}

.outreachActivities {
    background: black;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.outreachActivitiesWords {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.outreachActivitiesWords h1 {color: white; font-size: 70px; line-height: 60px;}
.outreachActivitiesWords p {font-size: 25px; color: rgba(255, 255, 255, 0.82); margin-top: 50px;}

.outreachActivitiesBoxes {
    width: 40%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(210px, 220px));
    gap: 10px;
}

.outreachActivitiesBoxesInfo {
    text-align: center;
    width: 100%;
    height: 250px;
    border-radius: 15px;
}

.outreachActivitiesBoxesInfo h1 {
    margin-top: 10px;
    padding: 15px;
    font-size: 24px;
    line-height: 20px;
    color: white;
}

.outreachActivitiesBoxesInfo p {
    padding: 0 25px;
    font-size: 14px;
    margin-top: 15px;
    line-height: 18px;
    color: white;
}

.outreachSignUps {width: 100%; height: 400px; margin: 120px 0;}
.outreachSignUpsImg {width: 100%; height: 100%; background-position: center; background-size: cover;}
.signUpBtn {width: 500px; height: 60px; border: 2px solid white; position: absolute; right: 100px; margin-top: 300px; z-index: 999; background: none; color: white; font-size: 22px;}
.signUpBtn:hover {scale: 0.98; cursor: pointer; background: white; color: #5e0000; font-size: 20px; border-radius: 10px;}

/***** SCREEN FRIENDLY *****/
@media (max-width: 1300px) {.hero h1 {font-size: 95px;} .designAwardContent {width: 1000px;}}
@media (max-width: 1150px) {.hero h1 {font-size: 90px;} .outreachActivitiesWords {width: 45%; margin-left: 10px;} .outreachActivitiesBoxes {width: 45%; margin-left: -70px;}}
@media (max-width: 1000px) {.hero h1 {font-size: 70px;} .awardsContentImg {height: 300px;} .awardsContentTx {font-size: 15px;}
    .outreachActivitiesWords {width: 35%; margin-left: 80px;} .outreachActivitiesBoxes {width: 60%; margin-left: -80px;}
    .outreachActivitiesWords h1 {font-size: 50px;} .outreachActivitiesWords p {font-size: 20px;}
    .outreachActivitiesBoxesInfo {width: 95%; height: 240px;} .outreachActivitiesBoxesInfo h1 {font-size: 20px;} .outreachActivitiesBoxesInfo p {font-size: 12px;}
    .designAwardContent {width: 750px; height: 400px;}
    .champs, .inspire, .mentorship, .workshops {margin-top: 20px;}
}
@media (max-width: 800px) {.hero h1 {font-size: 55px; top: 300px;} .outreachActivitiesWords {width: 30%; margin-left: 40px;} .outreachActivitiesBoxes {width: 70%; margin-left: -120px;} .outreachActivitiesBoxesInfo {width: 95%;}
    .outreachActivitiesWords h1 {font-size: 40px;} .outreachActivitiesWords p {font-size: 15px;}
    .outreachActivitiesBoxesInfo h1 {font-size: 17px;} .outreachActivitiesBoxesInfo p {font-size: 10px;}
}