/****** HERO BACKGROUND VIDEO ******/
/* HERO SECTION */
.hero {
    width: 100%;
    height: 100vh;
    background: yellow;
    position: relative; /* IMPORTANT */
}

.hero h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    font-size: 150px;
    letter-spacing: 20px;
    font-family: "Trend Slab W00 Five";
}

/****** WHO WE ARE ******/
.whoWeAre {
    display: flex;
    width: 100%;
    height: 90vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(77, 4, 4, 1) 91%, rgba(92, 2, 2, 1) 100%);
}

.whoWeAre h2 {
    width: 50%;                 /* starting width */
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.82);
    font-weight: 300;

    opacity: 0;                 /* starting opacity */
    transform: translateY(20px);
    transition:
            width 0.2s linear,
            opacity 0.2s linear,
            transform 0.2s linear;
}

/****** IMAGE SLIDER ******/
.imageSlider {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background: #000;
}

.sliderContainer {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrows */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.2);
    border: none;
    padding: 12px 18px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    transition: .3s;
    backdrop-filter: blur(4px);
}

.arrow:hover {
    background: rgba(255,255,255,0.35);
}

.arrow.left {
    left: 20px;
}

.arrow.right {
    right: 20px;
}

/****** OUR MISSION ******/
.ourMission {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(77, 4, 4, 1) 100%);
}

.ourMissionLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    width: 50%;

    font-size: 30px;
    color: rgba(255, 255, 255, 0.82);
}

.ourMissionLeftBtn {
    margin-top: 50px;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    background: none;
    color: rgba(255, 255, 255, 0.82);
    border-top: white 1px solid; border-bottom: white 1px solid;
    transition: .3s;
}

.ourMissionLeftBtn:hover {
    cursor: pointer;
    scale: 0.98;
    border-top: white 3px solid; border-bottom: white 3px solid;
}

.ourMissionRight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    width: 50%;
    height: 100%;
}

.ourMissionRightBox1, .ourMissionRightBox2, .ourMissionRightBox3 {
    position: absolute;
    width: 600px;
    height: 400px;
}

.ourMissionRightBox1 {background: #5e0000;}
.ourMissionRightBox2 {background: #961205; margin-top: 25px; margin-left: 25px;}
.ourMissionRightBox3 {
    background-image: url('../imageFiles/TeamPhoto.jpeg');
    background-position: center;
    background-size: cover;
    margin-top: 50px; margin-left: 50px;
}

/****** OUR ROBOT ******/
.ourRobot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(77, 4, 4, 1) 100%);
}

.ourRobotLeft, .ourRobotRight {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    padding-right: 60px;
    width: 55%;
    height: 100%;
}

.ourRobotLeftBox1, .ourRobotLeftBox2, .ourRobotLeftBox3 {
    position: absolute;
    width: 400px;
    height: 600px;
}

.ourRobotLeftBox1 {background: #5e0000;}
.ourRobotLeftBox2 {background: #961205; margin-top: 25px; margin-left: 45px;}
.ourRobotLeftBox3 {
    background-image: url('../imageFiles/TeamPhoto.jpeg');
    background-position: center;
    background-size: cover;
    margin-top: 50px; margin-left: 85px;
}

.ourRobotRight {
    width: 45%;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.82);
    text-transform: uppercase;
    font-size: 20px;
}

.ourRobotRightTitle {
    margin-top: -100px;
    margin-bottom: 120px;
}

.ourRobotRightDes {
    width: 80%;
}

.ourRobotRight ul {margin-top: 25px;}
.ourRobotRight ul li {margin-left: 30px;}

/****** NEWS & PREPARATION ******/
.whereWeOn {
    position: absolute;
    width: 100%;
    height: 50vh;
    background-image: url('../imageFiles/TeamPhoto.jpeg');
    background-position: center;
    background-size: cover;

    border: 5px solid white;
}

.whereWeOnTitle, .whereWeOnTitle2  {
    bottom: -5px; left: -5px;
    position: absolute;
    width: 50%;
    height: 500px;
    clip-path: polygon(0 72%, 84% 72%, 100% 100%, 0% 100%);
    background: black;
}

.whereWeOnTitle {background: white; height: 530px; width: 51%;}

.whereWeOnTitle2 h1 {
    position: absolute;
    left: 25px;
    bottom: 35px;
    color: white;
    font-size: 45px;
}

/****** NEWS ******/
.news {
    margin-top: 50vh;
    width: 100%;
    height: 700px;
    background: black;
}

/***** SCREEN FRIENDLY *****/
@media screen and (max-width: 1300px) {
    .ourMissionLeft {font-size: 22px; width: 40%; margin-right: 40px;}
    .ourMissionRightBox1, .ourMissionRightBox2, .ourMissionRightBox3 {width: 500px;height: 300px;}
    .ourRobotLeftBox1, .ourRobotLeftBox2, .ourRobotLeftBox3 {width: 300px;height: 500px;}
    .whereWeOnTitle2 h1 {font-size: 34px;}
}

@media screen and (max-width: 1000px) {
    .hero h1 {font-size: 120px}
    .ourMissionLeft {font-size: 20px; width: 40%; margin-right: 40px;}
    .ourMissionRightBox1, .ourMissionRightBox2, .ourMissionRightBox3 {width: 400px;height: 300px;}
    .ourRobotLeftBox1, .ourRobotLeftBox2, .ourRobotLeftBox3 {width: 300px;height: 400px;}
    .ourRobotRightTitle {margin-top: -220px;}
    .whereWeOnTitle {height: 400px; width: 56%;}
    .whereWeOnTitle2 {height: 370px; width: 55%;}
    .whereWeOnTitle2 h1 {font-size: 30px;}
}

@media screen and (max-width: 800px) {
    .hero h1 {font-size: 100px}
    .ourMission {height: 500px;}
    .ourMissionLeft {font-size: 15px; width: 40%; margin-right: 40px;}
    .ourMissionRightBox1, .ourMissionRightBox2, .ourMissionRightBox3 {width: 350px;height: 250px;}
    .ourRobot {height: 500px;}
    .ourRobotRight {font-size: 15px;}
    .ourRobotLeftBox1, .ourRobotLeftBox2, .ourRobotLeftBox3 {width: 250px;height: 350px;}
    .ourRobotRightTitle {margin-top: -85px; margin-bottom: 50px;}
    .whereWeOnTitle {height: 400px; width: 56%;}
    .whereWeOnTitle2 {height: 370px; width: 55%;}
    .whereWeOnTitle2 h1 {font-size: 25px;}
}

@media screen and (max-width: 700px) {
    .ourMission, .ourRobot {flex-direction: column; align-items: center; height: 700px; padding-top: 100px;} .ourMissionRight {width: 100%; position: absolute; margin-top: -350px; padding: 0;} .ourMissionLeft {width: 90%; margin-top: 280px; align-items: center; margin-right: 0; padding: 0;} .ourMissionLeftTx {font-size: 20px; text-align: center}
    .ourMissionRightBox1, .ourMissionRightBox2, .ourMissionRightBox3 {width: 70%; height: 300px;}

    .ourRobotLeft {margin-left: 40px;} .ourRobotRight {width: 100%; margin-top: 200px; display: flex; align-items: center; text-align: center; padding: 0;}
    .ourRobotLeftBox1, .ourRobotLeftBox2, .ourRobotLeftBox3 {width: 70%; height: 300px;} .ourRobotLeftBox2 {margin-left: 20px; margin-top: 15px;} .ourRobotLeftBox3 {margin-left: 40px; margin-top: 30px;}

    .whereWeOnTitle {width: 98%;} .whereWeOnTitle2 {width: 97%;}
}

@media screen and (max-width: 500px) {
    .ourMissionRight {width: 98%; margin-top: -500px; margin-left: -50px;} .ourMissionLeft {margin-top: 150px;} .ourRobotRight {margin-top: 50px;}
    .ourMissionRightBox1, .ourMissionRightBox2, .ourMissionRightBox3, .ourRobotLeftBox1, .ourRobotLeftBox2, .ourRobotLeftBox3 {height: 250px;}

    .ourMissionRight {padding: 0;} .ourMissionLeft {padding: 0;}
    .ourRobotRight {margin-left: 0; padding-right: 0;}
}

@media screen and (max-width: 400px) {
    .whoWeAre h2 {font-size: 20px;}
    .ourMission {height: 620px;} .ourRobot {height: 600px;}
    .ourMissionRightBox1, .ourMissionRightBox2, .ourRobotLeftBox1, .ourRobotLeftBox2 {display: none;}
    .ourMissionRightBox3, .ourRobotLeftBox3 {width: 95%; height: 200px;} .ourMissionRight {margin-top: -500px;} .ourMissionLeft {margin-top: 100px;}
    .ourRobotLeftBox3 {margin-left: 20px; margin-top: -35px;} .ourRobotRight {margin-top: -50px;}

     .whereWeOnTitle {height: 235px;} .whereWeOnTitle2 {height: 220px;} .whereWeOnTitle2 h1 {font-size: 17px; margin-bottom: -15px;}
}
