.hero {
    width: 100%;
    height: 400px;
    background: yellow;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero h1 {
    text-align: center;
    font-size: clamp(24px, 6vw, 120px);
    letter-spacing: 10px;
    font-family: "Trend Slab W00 Five";
}

@media screen and (max-width: 700px) {.hero {height: 200px;}}
@media screen and (max-width: 500px) {.hero {height: 150px;}}