.hero {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-position: center;
    background-size: cover;
}

.hero h1 {
    text-align: center;
    font-size: clamp(24px, 6vw, 120px);
    letter-spacing: 10px;
    font-family: "Trend Slab W00 Five";
}

#aboutHero h1, #highlightsHero, #sponsorsHero, #shopHero {color: white;}

@media screen and (max-width: 700px) {.hero {height: 200px;}}
@media screen and (max-width: 500px) {.hero {height: 150px;}}